services:
    # Store process output
    - App\Event\Subscriber\StoreProcessOutput\FileStorage('%appDir%/../data')

    # Send notification to Mattermost
    #- App\Event\Subscriber\SendNotification\MattermostWebHook('https://mattermost.my-company.net/hooks/xxx')