services:
    ProcessFactory: App\Process\ProcessFactory
    - App\Command\BadblocksCommand(@ProcessFactory)
    - App\Command\DriveDiscoveryCommand(@ProcessFactory)
    - App\Command\FstrimCommand(@ProcessFactory)
    - App\Command\GetSerialNumberCommand(@ProcessFactory)
    - App\Command\PartedCommand(@ProcessFactory)
    - App\Command\SmartCtlCommand(@ProcessFactory)

    - App\Drive\DriveFactory
    - App\Checker\CheckerFactory
    - App\Checker\SharedStatusCache

    - App\Event\Subscriber\StoreProcessOutput\FileStorage(%storeDir%)

    - App\Console\Drive\ListCommand
    - App\Console\Drive\TestCommand

extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    monolog: Contributte\Monolog\DI\MonologExtension
    events: Contributte\EventDispatcher\DI\EventDispatcherExtension

monolog:
    channel:
        default:
            handlers:
                - Monolog\Handler\RotatingFileHandler(%logFilename%, 0, Monolog\Logger::DEBUG)

console:
    name: Drive tester
    version: '0.1'

events:
    lazy: true